header {
    background: #0a245d;
    padding: 10px;
    color: #fff;
    ul {
        li {
            padding-left: 20px;
            a {
                color: #8f9bb9
            }
            .active {
                color: #fff;
            }
        }
    }
    .icons {
        position: absolute;
        right: 2%;
        top: -5px;
        .email {
            position: relative;
            bottom: 12px;
        }
    }
}